@import url('file:///home/math/.cache/wal/colors.css');
.square {
  height: 50px;
  width: 50px;
}
#color0 {
  background-color: var(--color0);
}
#color1 {
  background-color: var(--color1);
}
#color2 {
  background-color: var(--color2);
}
#color3 {
  background-color: var(--color3);
}
#color4 {
  background-color: var(--color4);
}
#color5 {
  background-color: var(--color5);
}
#color6 {
  background-color: var(--color6);
}
#color7 {
  background-color: var(--color7);
}
#color8 {
  background-color: var(--color8);
}
#color9 {
  background-color: var(--color9);
}
#color10 {
  background-color: var(--color10);
}
#color11 {
  background-color: var(--color11);
}
#color12 {
  background-color: var(--color12);
}
#color13 {
  background-color: var(--color13);
}
#color14 {
  background-color: var(--color14);
}
#color15 {
  background-color: var(--color15);
}
#background {
  background-color: var(--background);
}
#foreground {
  background-color: var(--foreground);
}