#!/usr/bin/env sh

set -o errexit

{{- if ne .chezmoi.hostname "math-t470" }}
exit 1
{{- end }}

if hash pacman 2>/dev/null ; then

  . {{ .chezmoi.sourceDir }}/scripts/archlinux.sh

elif hash apt-get 2>/dev/null ; then

  sh {{ .chezmoi.sourceDir }}/scripts/debian.sh

fi

# create default dirs
mkdir -p ~/Projects ~/Downloads/Notes ~/Documents/Books ~/Desktop ~/Videos ~/Music ~/Pictures/wallpapers ~/Pictures/screenshots

# copy default wallpaper
cp -r {{ .chezmoi.sourceDir }}/wallpaper.png ~/Pictures/wallpapers/dracula.png
wal -i ~/Pictures/wallpapers/dracula.png -e -s -t -q -n -o ~/.local/bin/afterwal

# enable thermald
sudo systemctl enable --now thermald
# Activate loading the microcode update
sudo grub-mkconfig -o /boot/grub/grub.cfg

# Configure and enable cronjobs
crontab ~/.config/cronjobs

# Blacklist PC speaker module
echo "blacklist pcspkr" | sudo tee /etc/modprobe.d/nobeep.conf

# add user to groups
sudo usermod -a -G wheel,video,docker $(whoami)

# install tmux plugins manager
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# Install custom fonts
mkdir -p ~/.local/share/fonts && cd ~/.local/share/fonts
curl -fLO https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
curl -fLO https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf
curl -fLO https://github.com/romkatv/powerlevel10k-media/raw/master/MesloGS%20NF%20Italic.ttf
curl -fLO https://github.com/romkatv/powerlevel10k-media/raw/master/MesloGS%20NF%20Bold%20Italic.ttf
