#!/usr/bin/env bash

set -o errexit -o nounset

install_asdf() {
    # Install ASDF
    if ! command -v asdf &> /dev/null
    then
        if [[ ! -d $HOME/.asdf ]]; then
            git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.14.0
        fi
    fi

    source "$HOME/.asdf/asdf.sh"

    ASDF_PLUGINS=(
        "crystal"
        "dotnet-core"
        "elixir"
        "erlang"
        "golang"
        "haskell"
        "java"
        "julia"
        "kotlin"
        "lua"
        "nim"
        "nodejs"
        "php"
        "python"
        "ruby"
        "rust"
        "scala"
        "zig"
    )

    for plugin in ${ASDF_PLUGINS[@]}; do
        asdf plugin-add $plugin
    done
}

install_nerd_font() {
    font_filename="$1.zip"
    version="v3.1.1"
    curl -fL "https://github.com/ryanoasis/nerd-fonts/releases/download/$version/$font_filename" -o "/tmp/$font_filename"
    mkdir -p ~/.local/share/fonts
    unzip "/tmp/$font_filename" -d ~/.local/share/fonts
    rm -Rf ~/.local/share/fonts/{README,LICENSE}.md
}

install_bitwarden_cli() {
    curl -fL "https://vault.bitwarden.com/download/?app=cli&platform=linux" -o "/tmp/bw.zip"
    unzip /tmp/bw.zip -d ~/.local/bin
    chmod +x ~/.local/bin/bw
}

install_base_packages() {
    {{- if eq .chezmoi.os "linux" }}
    {{-   if (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.idLike "arch")) }}
    bash {{ .chezmoi.sourceDir }}/scripts/archlinux.bash
    {{-   end }}
    {{- end }}

    {{- if eq .chezmoi.os "linux" }}
    {{-   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    flatpak install -y --noninteractive flathub org.telegram.desktop com.rtosta.zapzap org.zealdocs.Zeal com.stremio.Stremio org.qbittorrent.qBittorrent 
    {{-   end }}
    {{- end }}
}

main() {
    install_asdf

    # create default dirs
    mkdir -p ~/{Projects,Downloads,Documents/{Notes,notes,Books},Desktop,Videos,Music,Pictures/{wallpapers,screenshots}}

    install_nerd_font "Hack"
    
    # install tmux plugins manager
    if [[ ! -d ~/.tmux/plugins/tpm ]]; then
        git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
    fi

    install_bitwarden_cli

    install_base_packages
}

main "$@"
