#!/usr/bin/env bash

set -o errexit

{{- if ne .chezmoi.hostname "math-t470" }}
exit 0
{{- end }}

if hash pacman 2>/dev/null ; then

  bash {{ .chezmoi.sourceDir }}/scripts/archlinux.bash

elif hash apt-get 2>/dev/null ; then

  bash {{ .chezmoi.sourceDir }}/scripts/debian.bash

fi

# Install ASDF
if ! command -v asdf &> /dev/null
then
  if [[ ! -d $HOME/.asdf ]]; then
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.13.1
  fi
fi
source "$HOME/.asdf/asdf.sh"

ASDF_PLUGINS=("crystal" "dotnet-core" "elixir" "erlang" "golang" "haskell"
    "java" "julia" "kotlin" "lua" "nim" "nodejs" "php" "python" "ruby" "rust"
    "scala" "zig")

for plugin in ${ASDF_PLUGINS[@]}; do
    asdf plugin-add $plugin
done

# Install apps
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak install -y --noninteractive flathub org.mozilla.firefox com.discordapp.Discord org.gimp.GIMP io.github.Qalculate md.obsidian.Obsidian org.flameshot.Flameshot com.brave.Browser org.qbittorrent.qBittorrent org.telegram.desktop io.mpv.Mpv com.valvesoftware.Steam org.winehq.Wine net.lutris.Lutris com.obsproject.Studio com.github.micahflee.torbrowser-launcher com.bitwarden.desktop com.rtosta.zapzap org.zealdocs.Zeal com.stremio.Stremio com.getpostman.Postman rest.insomnia.Insomnia

# create default dirs
mkdir -p ~/Projects ~/Downloads ~/Documents/Notes ~/Documents/Books ~/Desktop ~/Videos ~/Music ~/Pictures/wallpapers ~/Pictures/screenshots

# copy default wallpaper
cp -r {{ .chezmoi.sourceDir }}/wallpaper.png ~/Pictures/wallpapers/dracula.png

# enable thermald
sudo systemctl enable --now thermald
# Activate loading the microcode update
sudo grub-mkconfig -o /boot/grub/grub.cfg

# Blacklist PC speaker module
echo "blacklist pcspkr" | sudo tee /etc/modprobe.d/nobeep.conf

chsh -s $(which zsh) # change shell to zsh for the current user

# Install custom fonts
mkdir -p ~/.local/share/fonts && cd ~/.local/share/fonts
echo 'Installing Meslo Nerd Fonts'
[[ ! -f 'MesloLGS%20NF%20Regular.ttf' ]] && curl -fLO https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
echo 'MesloLGS NF Regular: complete'
[[ ! -f 'MesloLGS%20NF%20Bold.ttf' ]] && curl -fLO https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf
echo 'MesloLGS NF Bold: complete'
[[ ! -f 'MesloLGS%20NF%20Italic.ttf' ]] && curl -fLO https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf
echo 'MesloLGS NF Italic: complete'
[[ ! -f 'MesloLGS%20NF%20Bold%20Italic.ttf' ]] && curl -fLO https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf
echo 'MesloLGS NF Bold Italic: complete'

# Install mopidy with ytmusic
sudo python3 -m pip install --upgrade ytmusicapi Mopidy-YouTube --break-system-packages
