#!/usr/bin/env bash

{{- if ne .chezmoi.hostname "math-t470" }}
exit 0
{{- end }}

# Set default pywal color
wal -i ~/Pictures/wallpapers/dracula.png -e -s -t -q -n -o ~/.local/bin/afterwal

# Configure and enable cronjobs
crontab ~/.config/cronjobs

# Install tridactyl native messenger
curl -fsSl https://raw.githubusercontent.com/tridactyl/native_messenger/master/installers/install.sh -o /tmp/trinativeinstall.sh && sh /tmp/trinativeinstall.sh 1.24.0
ln -s ~/.mozilla/native-messaging-hosts/ ~/.librewolf/native-messaging-hosts
