@define-color fg {foreground};
@define-color bg {background};
@define-color border {color5};

@define-color critical #ff0000;
@define-color low {background};
@define-color critical_popup #ff0000;
@define-color low_popup {background};

@define-color close {color2}cc;
@define-color close_normal {color2}b3;
@define-color close_hover {color5}b3;
@define-color close_active {color5}cc;

.blurredBG,
.blurredBG.low,
.blurredBG.normal,
#main_window {{
	background: alpha(@bg, 0.5);
}}

/*
.blurredBG.notification {{
	background: alpha(@bg, 0.3);
	border-radius: 5px;
}}
*/
#img_img {{
	border-radius: 10px;
}}

.blurredBG.notification.critical {{
    border: 1pt @critical_popup solid;
}}

.blurredBG.notification.low {{
	background: @low_popup;
}}

.notificationInCenter {{
	border-radius: 3px;
	border: 1pt @border solid;
	margin-right: 0.75em;
	margin-left: 0.5em;
}}

.notificationInCenter.critical {{
    border: 1pt @critical solid;
}}

.notificationInCenter.low {{
	background: @low;
}}

.undershoot.top,
.undershoot.right,
.undershoot.bottom,
.undershoot.left {{
	background-image: none;
}}


button.userbutton:not(:hover):not(:active),
button.delete-all:not(:hover):not(:active) {{
	border: 0.1em {color0} solid;
}}

button.deadd-noti-center.delete-all {{
	margin-bottom: 2px;
}}

button.button-close {{
	background: @close_normal center;
	margin-right: 0.5em;

	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;

	border-radius: 1em;
}}

button.button-close > label {{
	font-weight: bolder;
	font-family: monospace;
	padding: 0em;
	margin: -1.4em;
	font-size: 1.4em;
	color: @close;
}}

button.button-close:hover {{
	background: @close_hover;
}}

button.button-close:active {{
	background: @close_active;
}}

label {{
	color: {color8};
}}

label.notification {{
	color: {color7};
}}

label.critical {{
	color: @fg;
}}

/*button:hover {{
    border-radius: 0px;
    background: rgba(34, 43, 46, 0.2);
    border-width: 0;
    border-top: transparent;
    border-color: #f00;
    color: #eae2e0;
}} */

/*.userbutton {{*/
/*	background: #263034;*/
/*}}*/

/*.userbutton:hover {{*/
/*	background: #fee;*/
/*}}*/

/*.userbuttonlabel {{*/
/*	color: #eae2e0;*/
/*	font-size: 14px;*/
/*}}*/

/*.userbuttonlabel:hover {{*/
/*	color: #fee;*/
/*}}*/

button.buttonState1 {{
	background: alpha({color6}, 0.5);
}}

button.buttonState2 {{
	background: alpha({color7}, 0.1);
}}

.userbuttonlabel.buttonState1 {{
	color: @fg;
}}

.userbuttonlabel.buttonState2 {{
	color: @fg;
}}

button.buttonState1:hover {{
	background: alpha({color0}, 0.4);
}}

button.buttonState2:hover {{
	background: alpha({color0}, 0.3);
}}

.userbuttonlabel.buttonState1:hover {{
	color: alpha({color7}, 0.5);
}}

.userbuttonlabel.buttonState2:hover {{
	color: alpha({color7}, 0.5);
}}

.title {{
	font-weight: bold;
	font-size: 16px;
}}

.appname {{
	font-size: 10px;
}}

.time {{
	font-size: 12px;
}}

.noti-center.time {{
	font-size: 32px;
}}