{{- $name      := promptStringOnce . "name" "Name used in GitHub" -}}
{{- $email     := promptStringOnce . "email" "Email used in GitHub" -}}
[data]
font = "Hack Nerd Font Mono"
name = {{ $name | quote }}
email = {{ $email | quote }}
