# Keyboard layout
setxkbmap -model abnt2 -layout br -variant abnt2

# Load pywal colors and wallpaper
wal -R

# Load Xresources
xrdb -load ~/.Xresources

# Start compositor
picom &

# Start notifications
/usr/lib/xfce4/notifyd/xfce4-notifyd &

# Start KDEconnect
/usr/lib/kdeconnectd &

# Start discord
discord &
