[logging]
color = true
console_format = %(levelname)-8s %(message)s
format = %(levelname)-8s %(asctime)s [%(process)d:%(threadName)s] %(name)s\n  %(message)s

[audio]
output = tee name=t t. ! queue ! autoaudiosink t. ! queue ! audioresample ! audioconvert ! audio/x-raw,rate=44100,channels=2,format=S16LE ! wavenc ! filesink location=/tmp/mpd.fifo

[m3u]
playlists_dir = /home/math/Music/Playlists

[youtube]
enabled = true
allow_cache = true
youtube_api_key = {{ (bitwarden "item" "ytapikey").notes }}
channel_id = UCg0aDL5l__EzgIDcLceH9Ww
api_enabled = true
musicapi_enabled = true
autoplay_enabled = true
max_autoplay_length =
youtube_dl_package = yt_dlp
musicapi_browser_authentication_file={{- .chezmoi.homeDir -}}/.config/mopidy/auth.json
musicapi_cookiefile={{- .chezmoi.homeDir -}}/.config/mopidy/cookies.txt
