@import url('/home/math/.cache/wal/colors-waybar.css');

@keyframes blink-warning {
	70% {
		color: @foreground;
	}

	to {
		color: @foreground;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	0% {
		color: @background;
	}

	100% {
		color: @color4;
	}
}

@define-color warning #fabd2f;
@define-color critical #cc241d;

* {
	border: none;
	border-radius: 0;
  font-family: SF Pro Display, Hack Nerd Font Mono, monospace;
  font-size: 18px;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background: @background;
	color: @color8;
}

#battery,
#mode,
#network,
#pulseaudio,
#custom-powermenu,
#sndio {
  background: @color4;
  color: @color0;
	padding-left: 7px;
	padding-right: 7px;
}

#bluetooth,
#custom-notification {
  background: @color4;
  color: @color0;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-music, #tray {
  background: @color4;
  color: @color0;
}

#custom-music.previous {
  padding-left: 10px;
  padding-right: 5px;
}

#custom-music.next {
  padding-left: 5px;
  padding-right: 10px;
}

#memory,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

#memory.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 0.5s;
}

#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @warning;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

#mode {
	background: @color4;
  color: @foreground;
  margin-left: 10px;
}

* button label, #pulseaudio button {
  font-size: 30px;
}

#workspaces button, #workspaces button.focused, #workspaces button.focused:hover {
  box-shadow: none;
	padding-left: 4px;
	padding-right: 4px;
	color: @foreground;
  background: @background;
}

#workspaces button.focused, #workspaces button.focused:hover {
	color: @color4;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#clock {
  color: @foreground;
  font-size: 110%;
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
}
